
<div class="contain-to-grid sticky">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">HERSOG</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li class="divider"></li>
                <li><a href="#">ABOUT US</a></li>
                <li class="divider"></li>
                <li><a href="#">PROJECTS</a></li>
                <li class="divider"></li>
                <li><a href="#">SERVICES</a></li>
                <li class="divider"></li>
                <li><a href="#">PUBLICATIONS</a></li>
                <li class="divider"></li>
                <li><a href="#">CAREERS</a></li>
                <li class="divider"></li>
                <li class="has-form">
                    <form>
                        <div class="row collapse">
                            <div class="small-8 columns">
                                <input type="text">
                            </div>
                            <div class="small-4 columns">
                                <a href="#" class="alert button">Search</a>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>

        </section>
    </nav>
</div>